extends layout 

block content 
    .container
        .col-2of5.bg-white.profile 
            include userInfo 

        .col-3of5.bg-white
            .tweet 
                form(action=`/tweets/update/${tweet._id}` method="POST")
                    .row
                        img.avatar-sm.v-top(src=`${user.avatarUrl}` alt="avatar")
                        textarea.input-tweet(type='text' name='content' placeholder="What's up?" required)=tweet.content  
                    //- .row.previewImageGroup  
                    p 
                        include tweetImages  
                    .row.actionBox 
                        h5=`Last Modified @${moment(tweet.modifiedAt).format('MMMM D, YYYY hh:mm A')}`
                    .row.actionBox 
                        h5=`Created @${moment(tweet.createdAt).format('MMMM D, YYYY hh:mm A')}`
                    .row.tweet-actions
                        //- button.btn-primary Delete 
                        a.btn-border(onclick='window.location = document.referrer') Cancel
                        button.btn-primary Modify  

//- block script
//-     script.
//-         const displayDiv = $('.row.previewImageGroup');
//-         const displayImageGroup = tweet.
//-         function previewImageGroup(imageGroup, displayDiv){
//-             displayDiv.empty();
        
//-             list.append($('<div/>', {class: '_item'}).append([$('<img/>', {src: src}), '']))
//-         }