each tweet in tweets
    if (tweet.author.username == user.username)
        .tweet 
            .row 
                img.avatar-sm(src=tweet.author.avatarUrl alt="avatar")
                h4
                    b=tweet.author.name 
                h5=`@${tweet.author.username}`
                h5=moment(tweet.createdAt).format('MMMM D, YYYY hh:mm A')
                .actionBox 
                    .deleteCross(onclick="console.log('delete'); requireDelete('"+ tweet._id +"');")
                    a(href="/tweets/edit/" + tweet._id)
                        h5.editOption Edit
            p=tweet.content 
                include tweetImages 

block script 
    script
        include helperScript.js 